{% extends 'index.html' %}
{% block content %}

<div class="container mt-5">

    {% for m in messages  %}
                              
        <h5 class="text-info">{{m}}</h5>
        {% endfor %}
       

        <h4>Doctors</h4><br><br>
    <table class="table">
        <tr>
            <th>Doctor</th>
            <th>Specilaisation</th>
            <th>Address</th>
            
        </tr>
        {% for i in doctor %}
        <tr>
            <td>Dr.{{i.user.first_name}} {{i.last_name}}</td>
            <td>{{i.Specilisation}}</td>
            <td>{{i.Address}} {{i.district}} {{i.state}}</td>
            
           
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}