{% extends 'index.html' %}
{% block content %}


<div class="container mt-5">


    {% for m in messages  %}
                              
        <h5 class="text-info">{{m}}</h5>
        {% endfor %}
        <br><br>

        <h4>My Donations</h4><br><br>
    <table class="table">
        <tr>
            <th>Organ</th>
            <th>Bloodgroup</th>
            <th>Doctor</th>
            <th> Date </th>
            
            <th>Status</th>
        </tr>
        {% for i in donation %}
        <tr>
            <td>{{i.organ}}</td>
            <td>{{i.Bloodgroup}}</td>
            <td>{{i.doctor}}</td>
            <td>{{i.date}}</td>
            <td>
                {% if i.Donar_approval == False %}
                <span  class="badge bg-warning">Not Approved</span>
                <a href="{%url 'Approve_donar_donation_requests' i.id%}" class="btn btn-success">Approve Request</a>
                {% else %}
                <span class="badge bg-success">Approved</span>
                {% endif %} 

            </td>
        </tr>
        {% endfor %}
    </table>
</div>


{% endblock %}